@page
@model MotivWebApp.Pages.FinanceOptionsModel
@{
    ViewData["Title"] = "Finance Options";
}


@if (Model.FinanceOptionsResponses.Count <= 0)
{
    <h3>:(</h3>
    <p>We're sorry, no finance options were found.</p>
}
else if (Model.FinanceOptionsResponses.Count > 0)
{
    <h2>Here are your finance options: </h2>

    <div class="row row-cols-1 row-cols-md-2 g-5">
        @foreach (var option in Model.FinanceOptionsResponses)
        {
            <div class="col col-sm-6 mb-sm-0">
                <section class="card w-50">
                    <img src="https://picsum.photos/200/300" class="card-img-top" alt="Random image">
                    <div class="card-body">
                        <h5 class="card-title">@option.FinanceOptionsName</h5>
                        <p>This option has a @option.FinanceLoanRate% APR, bare that in mind.</p>
                        <a href="" class="btn btn-primary">Check out this option:</a>
                    </div>
                </section>
            </div>
        }
    </div>

}
